.row.align-items-center.border-bottom.mb-6.pb-6.justify-content-center
  .col-xl-5.user-card
    include ./usercard
  .col-xl-7.col-md-10
    .row.justify-content-center
      .col-md-11
        .row.justify-content-center
          - var fakeData = [
          - {number: 72, subtitle: "Fake data 01"},
          - {number: 91, subtitle: "Fake data 02"},
          - {number: 37, subtitle: "Fake data 03"}
          - ]
          each data in fakeData
            - var upDown = data.number <= 50 ? "down" : "up"
            .col-sm-6.col-md-4
              .row.justify-content-center
                .col-2
                  .triangle(class="triangle__" + upDown)
                .col-6.col-md-10
                  h4.display-4.font-weight-bold.d-flex.align-items-center
                    | #{data.number}%
                  p.text-muted #{data.subtitle}
.row.align-items-center
  .col-lg-5.user-description.mb-5.mb-lg-0
    .row.justify-content-center
      .col-md-11
        include ./userinfo
  .col-lg-7
    .grid-container.justify-content-center
      - var btnOption = ["Calendar", "Stats", "Diffusion", "Messages", "Profile", "Settings"]
      each option in btnOption
        a.mx-auto.btn.btn-option.font-weight-bold.rounded-xl.d-flex.align-items-center.justify-content-center.flex-column.p-0(href="#")
          img.mb-3(src="img/" + option + ".svg")
          | #{option}
