.row.align-items-center.text-center.text-xl-left.justify-content-center.mb-5.mb-xl-0
  .col-xl-3
    .user-card__photo
      span.user-status.user-status__active(data-toggle="tooltip" data-placement="top" title="Active")
      img.img-fluid.mb-4.mb-xl-0(src="img/Pic.jpg")
  .col-xl-8
    h4.user-card__name User Name
    p.user-card__desc.lead.text-muted User description lorem ipsum dolor sit amet.
