head
  block head
  title= "Fake Project 2019"
  meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="theme-color" content="#000")
  meta(name="description" content="Fake Project")
  meta(name="author" content="CompanyLogo")
  meta(name="robots" content="index, follow")
  link(rel="shortcut icon" type="image/png" href="favicon.png")
  include thirdpartyscripts

  block head
