include mixins
doctype html
html.h-100(lang="en" id=htmlWebpackPlugin.options.page)
  include head
  body.d-flex.flex-column.h-100
    block body
    include footer
    style.
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

    block scripts
