mixin form(options = {})
  #formContainer
    form(name='Book Subscriptions' netlify)
      .form-group
        label.sr-only(for='name' aria-labelledby='name') Name
        input#name.form-control.form-control-lg(type='text' name='name' placeholder='Name' required)
      .form-group
        label.sr-only(for='email' aria-labelledby='email') Email
        input#email.form-control.form-control-lg(type='email' name='email' placeholder='Email' required)
      button.btn.bnt-lg.btn-primary(type='submit') Subscribe
