header.header-main
  .container.py-4.pb-6
    .row
      .col-md-12
        nav.navbar.navbar-main.navbar-expand-lg.navbar-dark.p-0
          a.navbar-brand
            img.img-fluid(src="img/CompanyLogo.svg")
          button.navbar-toggler.border-0(type='button' data-toggle='collapse' data-target='#navBar')
            span.navbar-toggler-icon
          nav#navBar.nav.justify-content-end.collapse.navbar-collapse.rounded-xl.mt-4.mt-lg-0
            - var navLinks = ['First link', 'Second link', 'Third link', 'Fourth link']
            each link, index in navLinks
                a.nav-link(class=(index == 3) ? "pr-0 pl-4" : "px-4" href="#") #{link}
