$font-family-base: "Open Sans", sans-serif;
$text-muted: #AFAFAF;
$body-color: #484848;
$body-bg: #e2e1e0;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    6: $spacer * 4,
  ),
  $spacers
);

$progress-height: .5rem;
$progress-bg: #D8D8D8;
$progress-bar-bg: #60F560;

$line-height-sm: 1.25;
