.navbar-main .nav-link {
  font-size: 1.5rem;
  color: $white;
  @include hover-focus {
    color: $gray-800;
  }
}

.nav-card {
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row
  }
  @include media-breakpoint-up(lg) {
    .nav-link:after {
      content: "";
      height: 1rem;
      width: 1px;
      background: #e0e0e0;
      position: absolute;
      left: 100%;
      top: 25px;
    }
  }
}

.nav-card:before {
  content: "";
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e0e0e0;
  z-index: 1;
}

.nav-card a {
  border-bottom:4px solid #E0E0E0;
  font-size: 1.25rem;
  color: #AFAFAF;
  font-weight: 600;
}
.nav-card .active {
  color: #484848;
  &:before {
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
    z-index: 2;
    left: 0;
    top: 100%;
  }
}

.nav-card .nav-link {
  @include hover-focus {
      color: $gray-600;
      &:before {
        content: "";
        height: 4px;
        position: absolute;
        width: 100%;
        background-color: $gray-500;
        z-index: 2;
        left: 0;
        top: 100%;
      }
  }
}
#navBar {
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    background: transparent;
  }
  .nav-link {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }
}
