.user-card {
  &__photo {
    position:relative;
    display:inline-block;
  }
}
.user-status {
  right: 1rem;
  top: 1rem;
  background-color: $gray-300;
  @include media-breakpoint-up(xl) {
    right: .2rem;
    top: .2rem;
    border: 3px solid white;
    height: 1.5rem;
    width: 1.5rem;
  }
  position: absolute;
  border: 5px solid white;
  height: 2rem;
  width: 2rem;
  @extend .rounded-circle;
  &__active {
    background-color: #60F560;
  }
  &__inactive {
    background-color: #F56060;
  }
}

.user-card {
  @include media-breakpoint-up(lg) {
    border-right:1px solid $gray-300;
  }
  line-height: 1.6875;
}

.user-description {
  line-height: 1.25;
  border-bottom:1px solid $gray-300;
  @include media-breakpoint-up(lg) {
    border-bottom:none;
    border-right:1px solid $gray-300;
  }
}

.show-more + .view-more {
  margin-top: 2rem;
  &:before {
    background: none
  }
}

.view-more:before {
  content: "";
  width: 100%;
  height: 10rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.view-more .btn {
  font-weight: 600;
  text-decoration: none;
}

i.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  &__down {
    transform: rotate(45deg) translateY(-0.3rem);
  }
  &__up {
    transform: rotate(-135deg) translate(-.2rem, .2rem);
  }
}
.show-less .complete {
    height: 0;
    visibility: hidden;
    opacity: 0;
    display: block;

}
.show-more .complete {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
}
