.rounded-xl { border-radius:.7rem; }


.triangle {
  width: 0px;
  height: 0px;
  margin-top: 1.5rem;
  &__up {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid #60F560;
  }
  &__down {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 25px solid #F56060;
  }
}

.btn-option {
  height: 184px;
  width: 202px;
	color: #C4CCE8;
  font-size: 1.5rem;
  background-color: #F0F2F9;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
    color: white;
    transform: translateY(-5px);
    @extend .shadow;
    img {
      filter: brightness(100);
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(202px, 0fr));
  column-gap: 20px;
  row-gap: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
}
