section
  .container
    .row
      .col-md-12
        .card.shadow.rounded-xl.mb-6(style="margin-top: -2.5rem;")
          ul.nav.nav-card.position-relative
            - var tabs = ["First tab", "Second tab", "Third tab", "Fourth tab"]
            each tab, index in tabs
              - var tabLink =  tab.toLowerCase().replace(/\s/g, '');
              li.nav-item
                a.nav-link.position-relative.py-3.px-5(class=(index != 0) || "active" data-toggle="pill" href="#" + tabLink) #{tab}
          .card-body.py-5
            .tab-content
              #firsttab.tab-pane.fade.show.active
                include ./tabs/firsttab/first
              #secondtab.tab-pane.fade
                include ./tabs/firsttab/first
              #thirdtab.tab-pane.fade
                include ./tabs/firsttab/first
              #fourthtab.tab-pane.fade
                include ./tabs/firsttab/first
